* {
    font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
}

h1, h2, h3, h4, p {
    text-align: center;
}

h1 {
    color: white;
}

header {
    border: 2px;
    border-color: black;
    border-style: double;
    margin: 20px;
    background-image: linear-gradient(to bottom, rgb(9, 48, 189), white);
}

section {
    margin: 35px;
    border: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgb(9, 48, 189), white);
}

ul {
    list-style-type:none;
    margin: 0px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(9, 48, 189), white)
}

li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
 
li a:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
}

.small-screenshots img {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
width: 300px;
}

.icons img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100px;
}


#profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 30%;
}

#work-day-scheduler {
    width: 100%;
    flex: wrap;
    justify-content: space-around;
    align-items: center;
}

#gmail {
    width: 100px;
}